# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = false

# C# files
[*.cs]

dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0301.severity = none
dotnet_diagnostic.IDE0305.severity = none
